@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
  @apply text-white px-[30px] py-[8px] rounded-3xl bg-primary cursor-pointer hover:opacity-70 transition-all;
}
.container {
  @apply w-[90%] xl:w-[1140px];
}
@media (max-width: 470px) {
  iframe {
    height: 340px;
  }
}

@keyframes slide-left {
  from {
    margin-left: 70vw;
  }
  to {
    margin-left: 0px;
  }
}

.slide-left {
  animation: 1s slide-left;
}

@keyframes slide-right {
  from {
    margin-right: 0px;
  }
  to {
    transform: translateX(-70vw);
    opacity: 0;
  }
}

.slide-right {
  animation: 1s slide-right forwards;
}
